.about-me__text {
  line-height: 2;
  padding-bottom: 5rem;
  p {
    padding-bottom: 1.5rem;
  }
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto;
  li {
    padding-bottom: 4rem;
    text-align: center;
    p:first-of-type {
      text-transform: uppercase;
      color: #444;
      font-weight: bold;
      padding: 0.8rem 0 0.3rem 0;
    }
    p:last-of-type {
      font-size: 1.3rem;
    }
    i {
      font-size: 5rem;
    }
  }
}
.skill-html {
  color: #e54d26;
}
.skill-css {
  color: #2965f1;
}
.skill-sass {
  color: #cd6799;
}
.skill-js {
  color: #f7df1e;
}
.skill-vue {
  color: #41b883;
}
.skill-git {
  color: #f1502f;
}
.skill-bootstrap {
  color: #9933cc;
}
.skill-jquery {
  height: 80px;
  fill: #0769ad;
}
.skill-taskers {
  color: #e65100;
}
.skill-responsive {
  color: #2bbbad;
}
