.about-me {
  .container {
    @media (min-width: $l) {
      @include flexCenter();
    }
  }
}
.about-me__text {
  flex: 1;
  text-align: center;
  p {
    padding-bottom: 1rem;
  }
  @media (min-width: $m) {
    text-align: left;
    .section-title {
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
  @media (min-width: $l) {
    padding-left: 2rem;
  }
}
.about-me__image {
  @media (max-width: $l) {
    padding-bottom: 3rem;
    max-width: 80%;
    margin: 0 auto;
  }
  flex: 1;
  padding-bottom: 2rem;
}
.about-me__resume {
  padding-top: 1rem;
}

.skills-badges {
  line-height: 1.2;
}
.skill-badge {
  text-align: center;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  background: $altColor;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}
.skill-badge--light {
  border: 1px solid $altColor;
  color: $altColor;
  background: transparent;
  margin: 0.4rem;
}
