body {
  font-family: "Questrial", sans-serif;
  color: $textColor;
  background: #fff;
  font-size: 1.5rem;
  line-height: 1.6;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: $mainColor;
  font-weight: 300;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
.container {
  padding: 0 15px;
  @media (min-width: $s) {
    padding: 0;
    width: 540px;
    margin: 0 auto;
  }
  @media (min-width: $m) {
    width: 720px;
  }
  @media (min-width: $l) {
    width: 940px;
  }
  @media (min-width: $xl) {
    width: 1160px;
  }
}
.btn {
  display: inline-block;
  border: 1px solid $altColor;
  font-family: "Montserrat", sans-serif;
  color: $altColor;
  font-weight: 300;
  text-align: center;
  padding: 1rem 4rem;
  transition: background 0.5s;
  &:hover {
    color: #fff;
    background: $altColor;
    // background: linear-gradient(to right, $altColor 0%, #c14e7c 100%);
  }
}

.text-left {
  text-align: left;
}
.section {
  padding: 5rem 0;
}
.section-title {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 3rem;
}
.alt-title {
  font-weight: bold;
  padding-bottom: 2rem;
}
