.page-footer {
  padding-bottom: 5rem;
  @include colorBg();
  text-align: center;
  .container {
    position: relative;
  }
}
.box-cta {
  position: relative;
  @include flexCenter();
  flex-direction: column;
  padding: 3rem;
  background: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  margin-top: 6rem;
  margin-bottom: -3rem;
  border-radius: 15px;
  @media (min-width: $l) {
    flex-direction: row;
    padding: 4rem;
  }
  p {
    padding-bottom: 2rem;
    color: #fff;
    @media (min-width: $l) {
      flex: 1;
      padding-bottom: 0;
    }
  }
}

.footer-logo {
  color: #fff;
  font-size: 3rem;
}
.social-list {
  @include flexCenter();
  justify-content: center;
  padding: 3rem 0;
  li {
    margin: 0 10px;
    a {
      color: #fff;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      transition: all 0.3s;
      &:hover {
        background: #fff;
        color: $altColor;
      }
      .fab,
      .fas,
      .fa {
        line-height: 50px;
      }
    }
  }
}
.copyright {
  color: #fff;
  opacity: 0.7;
  font-size: 1rem;
}
