.page-header {
  transition: margin-top 0.5s;
}
.header-logo {
  width: 60px;
  @media (min-width: $l) {
    width: 75px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
.links {
  .container {
    width: auto;
    padding: 0;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  padding-top: 1rem;
  @media (min-width: $m) {
    width: 50vw;
  }
  @media (min-width: $l) {
    padding-top: 3rem;
  }
  @media (min-width: $xl) {
    width: 40vw;
  }
  height: 100vh;
  background: #fff;
  z-index: 20;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.page-menu {
  @include flexCenter();
  line-height: 1;
  padding-top: 1rem;
  @media (min-width: $l) {
    padding-top: 2rem;
  }
  @media (min-width: $xxl) {
    padding-top: 6rem;
  }
}
.nav-list {
  line-height: 1;
  li {
    text-transform: uppercase;
    a {
      display: block;
      padding: 1rem 2rem;
      color: $textColor;
      @media (min-width: $l) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      @media (min-width: $xxl) {
        padding: 2rem 4rem;
      }
      &:hover {
        color: $altColor;
      }
    }
  }
}
.hire {
  padding: 1.5rem 2rem;
  @media (min-width: $l) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: $xxl) {
    padding: 2rem 4rem;
  }
  p {
    padding: 0.5rem 0 1rem;
    color: #666;
    line-height: 1.4;
  }
  .text-link {
    @media (max-width: 380px) {
      font-size: 1rem;
    }
  }
}
.active {
  display: block;
}
.menu-open {
  transform: translateX(0);
}
.toggle {
  margin-left: auto;
  min-width: 44px;
  height: 44px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 30;
  transform: all ease 0.3s;
  cursor: pointer;
}
.hamb-menu {
  display: block;
  width: 23px;
  height: 2px;
  position: absolute;
  background-color: $mainColor;
  white-space: nowrap;
  transition: all 0.3s ease;
  top: 22px;
  right: 0;
  transform: translate(-50%, -50%);
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 2px;
    transition: all 0.3s ease;
    outline: 1px solid transparent;
    left: 0;
    background-color: $mainColor;
  }
  &::before {
    top: -8px;
  }
  &::after {
    top: 8px;
  }
}
.toggle.open {
  .hamb-menu {
    background: transparent !important;
    &::before {
      transform: translateY(8px) rotateZ(-45deg);
    }
    &::after {
      transform: translateY(-8px) rotateZ(45deg);
    }
  }
}
