.hero__text {
  text-align: center;
  @media (min-width: $m) {
    margin-left: 10%;
    text-align: left;
  }
}
.hero__title {
  text-align: center;
  line-height: 1.2;
  @media (min-width: $m) {
    text-align: left;
  }
  h1 {
    font-weight: bold;
    @media (min-width: $xl) {
      font-size: 5rem;
    }
  }
  .hero__title--first {
    @include colorFront();
    font-weight: 300;
    @media (min-width: $xl) {
      font-size: 4rem;
    }
  }
}
.hero__intro {
  padding: 3rem 0;
  font-size: 1.3rem;
}
