.hero__text {
  @media (min-width: $m) {
    margin-left: 10%;
  }
}
.hero__title {
  text-align: center;
  @media (min-width: $m) {
    text-align: left;
  }
  h1 {
    font-weight: bold;
    @media (min-width: $xl) {
      font-size: 5rem;
    }
  }
  h2 {
    color: $altColor;
    font-weight: 300;
    @media (min-width: $xl) {
      font-size: 4rem;
    }
  }
}
.hero__intro {
  margin: 4rem 0;
  line-height: 2;
}
