.hire-me {
  @include imageBg();
  background-image: url("../img/bg.jpg");
  .section-title {
    text-align: left;
  }
  .hire-me__inner {
    @media (min-width: $m) {
      max-width: 80%;
    }
    @media (min-width: $xl) {
      max-width: 66%;
    }
  }
  p {
    padding-bottom: 2rem;
    font-weight: 400;
  }
}
