.projects {
  .section-title + p {
    text-align: center;
  }
}
.few-projects {
  padding-top: 5rem;
}
.project-preview {
  position: relative;
  padding-bottom: 3rem;
  &:last-child {
    padding-bottom: 0;
  }
  @media (min-width: $s) {
    display: flex;
    padding-bottom: 6rem;
  }
}
.project-image {
  max-width: 70%;
  margin: 0 auto;
  @media (min-width: $s) {
    flex: 0.7;
    padding-right: 2rem;
  }
  @media (min-width: $l) {
    flex: 1.2;
  }
}
.project-text {
  @media (min-width: $s) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.project-text__inner {
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    padding-bottom: 1rem;
    @media (min-width: $s) {
      padding: 1rem 0;
    }
  }
  @media (max-width: $s) {
    text-align: center;
  }
}
.project-link {
  padding-top: 1rem;
  @media (max-width: $s) {
    text-align: center;
  }
}
.view-all {
  text-align: center;
}
.order-change {
  order: 1;
  @media (min-width: $s) {
    padding-right: 0;
    padding-left: 2rem;
  }
}
