.projects {
  p {
    a {
      color: $altColor;
    }
  }
}

.project-preview {
  max-width: 90%;
  margin: 0 auto;
}
.project-image {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
