// colors
$mainColor: #242321;
$altColor: #e96443;
$thirdColor: #c14e7c;
$textColor: #444;
$navBg: #242321;

// media queries
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1920px;

// mixins
@mixin flexCenter() {
  display: flex;
  align-items: center;
}
@mixin colorFront() {
  color: $altColor;
  background: $altColor;
  background: linear-gradient(to right, $altColor 0%, $thirdColor 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@mixin colorBg() {
  background: $altColor;
  background: linear-gradient(to right, $altColor 0%, $thirdColor 100%);
}
